.form-div {
    border-width: 2px;
    border-style: solid;
    display: flex;
    height:600px;
    width: 800px;

}



.input-button {
    margin: 50px;
    width: 200px;
    height: 60px;

    
}

.input-contents {
    display: flex;
    margin-right: 100px;
}

.input-container {
    
    border-style: solid;
    border-width: 2px;
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    width: 600px;
    justify-content: center;
}

.button-pos {
    margin: 15px;
}

.option-placement {
    display: flex;
    height: 10px;
    width: 300px;
    margin-top: 180px;
    font-size: 30px;
    justify-content: center;
    align-items: center;

}

.input-placement {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}

.output-placement {
    width: 700px;
    height: 500px;
}

.input-textbox {
    height: 200px;
    width: 400px;
    font-size: 17px;
    text-align: left;
    text-wrap: wrap;
    resize: vertical;
    
}