.item-div {
    border-style: solid;
    border-width: 2px;
    
}

.item-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: left;
    height: 50px;
    width: 900px;
    margin: 10px;
    border-style: solid;
    border-width: 1px;
}

.button-align {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 70px;
    margin-right: 10px;
}

.button-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.edit-textarea {
  width: 100%;
  min-height: 80px;
  padding: 8px;
  font-size: 1rem;
}